.interview {
    position: relative;
    max-width: 100%;

    &::before {
        content: '';
        position: absolute;
        background-color: $main-color;
        top: 0;
        left: 0;
        bottom: 0;
        right: 65%;

        @include m($xxl) {
            display: none;
        }
    }

    &__wrap {
        padding: 82px 0 17px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include m($xxl) {
            padding: 0 0 17px;
        }
    }

    &__img {
        object-fit: cover;
        object-position: center right;
        padding-right: 3%;

        @include m($xxl) {
            height: 100%;
            max-width: 50%;
        }

        @include m($xl) {
            height: 450px;
            max-width: 100%;
            width: 100%;
            padding-right: 0;
            margin-bottom: 20px;
        }

        @include m($md) {
            height: 350px;
        }

        @include hl {
            height: 250px;
        }

        @include m($sm) {
            height: 250px;
        }
    }

    &__box {
        flex: 0 1 40%;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 10;

        @include m($xxl) {
            flex: 0 1 55%;
        }

        @include m($xl) {
            flex: auto;
        }
    }

    &__subtitle {
        margin-bottom: 12px;

        @include m($sm) {
            font-size: 19px;
        }
    }

    &__title-link {
        margin-bottom: 24px;
        border-radius: 20px;

        &:hover {
            .interview__title {
                color: $main-color;
            }
        }
    }

    &__title {
        transition: color 0.3s;
        margin-bottom: 0;

        @include line-clamp(5);

        @include m($xxl) {
            font-size: 42px;
        }

        @include m($xl) {
            font-size: 38px;
        }

        @include m($md) {
            font-size: 30px;
        }

        @include m($sm) {
            font-size: 24px;
        }
    }

    &__content {
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 80px;
        @include line-clamp(8);

        @include m($xxl) {
            margin-bottom: 30px;
            font-size: 21px;
        }

        @include m($sm) {
            font-size: 18px;
            margin-bottom: 22px;
        }

    }

    &__author,
    &__date {
        font-size: 18px;
        color: $pistachio;
        padding-left: 40px;
        background-repeat: no-repeat;
        background-size: 21px 20px;
        background-position: left;

        @include m($sm) {
            font-size: 16px;
            background-size: 20px 20px;
        }
    }

    &__author {
        background-size: 22px 24px;
        background-image: url('../images/interview/user.svg');

        @include m($sm) {
            background-size: 20px 20px;
        }
    }

    &__author-link {
        transition: color 0.3s;
    }

    &__date {
        margin-bottom: 65px;
        background-image: url('../images/interview/time.svg');

        @include m($xxl) {
            margin-bottom: 30px;
        }

        @include m($lg) {
            margin-bottom: 18px;
        }
    }

    &__arrow {
        align-self: flex-end;
        border-radius: 20px;

        @include m($md) {
            &::after {
                width: 80px;
            }
        }

    }

}