.header-mobile {
    display: none;

    @include m($xl) {
        position: fixed;
        display: block;
        text-align: center;
        left: 60%;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #fff;
        overflow: auto;
        transform: translateX(100%);
        transition: transform 0.3s;
        z-index: 10;
        padding: 50px 15px;
    }

    @include m($lg) {
        left: 36%;
    }

    @include m($sm) {
        left: 15%;
    }

    &.active {
        transform: translateX(0);
        transition: transform 0.3s;
    }

    .menu {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .address-date {
        text-align: left;
        margin-bottom: 40px;
    }

    .header__button {
        display: inline-block;
    }
}