.menu {

    &__list {
        display: flex;
        margin: 0 auto;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 48px;
        }
    }

    &__link {
        border-radius: 20px;
        color: $pistachio;

        &--active {
            color: $main-color;
        }
    }
}