.menu {
    display: flex;
    margin: 0 auto;

    &__item {
        &:not(:last-child) {
            margin-right: 48px;

            @include m($xl) {
                margin-right: 0;
                margin-bottom: 50px;
            }
        }
    }

    &__link {
        border-radius: 20px;
        color: $pistachio;

        &--active {
            color: $main-color;
        }
    }
}