.section {
    margin-bottom: 100px;

    &--int {
        margin-bottom: 0;
    }

    @include m($xl) {
        margin-bottom: 80px;
    }

    @include m($lg) {
        margin-bottom: 50px;
    }

    &__subtitle {
        font-family: $poppins;
        font-size: 24px;
        color: $main-color;
        letter-spacing: 0.3em;
        line-height: 1.4;
        text-transform: uppercase;
        margin-bottom: 36px;
        display: block;

        @include m($lg) {
            font-size: 22px;
            margin-bottom: 20px;
        }
    }

    &__title {
        font-weight: 600;
        color: $brown-900;
        font-family: $poppins;
        line-height: 1.2;
        font-size: 48px;
        margin-bottom: 36px;

        &--big {
            font-size: 72px;

            @include m($xxl) {
                font-size: 60px;
            }

            @include m($lg) {
                font-size: 45px;
            }
        }

        @include m($lg) {
            font-size: 40px;
            margin-bottom: 20px;
        }

        @include m($md) {
            font-size: 32px;
        }
    }

    &__text {
        font-size: 24px;
        line-height: 1.4;

        @include m($md) {
            font-size: 20px;
        }

        @include m($sm) {
            font-size: 18px;
        }
    }
}