.we-offer {
    padding-top: 72px;
    position: relative;

    @include m($lg) {
        padding-top: 20px;
    }

    .section {
        margin-bottom: 0;
    }

    &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 28%;
        background-color: $main-color;
        left: 0;
        top: 0;

        @include m($xl) {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 23%;
        height: 110px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../images/we-offer/decor.svg');
        background-position: center;
        left: 12%;
        top: 10%;

        @include m($xl) {
            right: 20%;
            left: auto;
        }

        @include m($lg) {
            display: none;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-bottom: 72px;

        @include m($xl) {
            flex-direction: column;
            align-items: flex-start;
        }

        @include m($lg) {
            padding-bottom: 50px;
        }
    }

    &__ornament {

        &::before,
        &::after {
            display: block;
        }

        &::before {
            bottom: 5%;
            left: 9%;
            color: $brown-900;
        }

        &::after {
            left: 0;
            bottom: 18%;
        }
    }

    &__box {
        max-width: 35%;
        margin-right: 20px;
        z-index: 9;

        @include m($xl) {
            margin-right: 0;
            margin-bottom: 20px;
            max-width: 100%;
        }

        @include m($lg) {
            max-width: 100%;
        }
    }


    &__text {
        p {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}

.content-info {

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 48px 173px;

        @include m($xxl) {
            grid-gap: 40px 50px;
        }

        @include m($md) {
            grid-gap: 30px;
            grid-template-columns: repeat(1, 1fr);
        }

        @include hl {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__img {
        object-fit: cover;
        margin-bottom: 24px;

        @include m($md) {
            width: 100%;
        }
    }

    &__title {
        font-weight: 500;
        font-family: $poppins;
        font-size: 24px;
        line-height: 1.4;
        color: $brown-900;
        margin-bottom: 12px;
    }

    &__text {
        @include line-clamp (4);
    }
}