.about {
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: left;

    @include m ($xxl) {
        background-size: 40% 87%;
    }

    @include m($xl) {
        background-size: 0;
    }

    &__content {
        margin-left: auto;
        padding: 35px 0;
        max-width: 736px;

        @include m($xl) {
            max-width: 100%;
            margin: 0;
            padding: 0;
        }
    }

    &__box {
        position: relative;
        padding-left: 61px;
        margin-bottom: 51px;

        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 10px;
            background-color: $main-color;
            left: 0;
            bottom: 0;

            @include m($sm) {
                display: none;
            }
        }

        @include m($md) {
            padding-left: 35px;
            margin-bottom: 40px;
        }

        @include m($sm) {
            padding-left: 0;
        }
    }

    &__title {
        max-width: 425px;
    }

    &__text {
        @include line-clamp (5);
    }

    &__info {
        display: flex;
        justify-content: center;

        @include m($sm) {
            flex-direction: column;
        }

        @include hl {
            flex-direction: row;
        }
    }

    &__item {
        color: $brown-900;
        flex: 0 1 17%;


        &:not(:last-child) {
            position: relative;

            &::after {
                content: '';
                width: 20px;
                height: 20px;
                position: absolute;
                right: -80%;
                top: 50%;
                background-color: $main-color;
                border-radius: 50%;

                @include m($sm) {
                    display: none;
                }

                @include hl {
                    display: block;
                }
            }
        }

        &:nth-child(2) {
            margin: 0 auto;

            @include m($sm) {
                margin: 20px 0;
            }

            @include hl {
                margin: 0 auto;
            }
        }
    }

    &__number {
        display: block;
        font-family: $poppins;
        font-size: 48px;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 12px;

        @include m($md) {
            font-size: 40px;
        }
    }

    &__date {
        font-size: 25px;
        line-height: 1.4;

        @include m($md) {
            font-size: 22px;
        }
    }
}