.get-space {
    margin-bottom: 160px;

    &__box {
        text-align: center;
        padding: 72px 0 126px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__ornament {
        overflow: hidden;

        &::before,
        &::after {
            font-size: 150px;
            letter-spacing: 27px;
            color: #fff;
            display: block;
        }

        &::before {
            left: 2%;
            bottom: 11%;
            line-height: 72px;
        }

        &::after {
            top: -2%;
            right: -2%;
            line-height: 77px;
        }
    }

    &__title {
        margin-bottom: 36px;
        color: #fff;

    }

    &__text {
        max-width: 496px;
        margin: 0 auto 65px;
        color: #fff;
    }

}