.get-space {

    &__ornament {
        overflow: hidden;

        &::before,
        &::after {
            font-size: 150px;
            letter-spacing: 27px;
            color: #fff;
            display: block;
            z-index: 10;

            @include m($md) {
                display: none;
            }
        }

        &::before {
            left: 2%;
            bottom: 11%;
            line-height: 72px;
        }

        &::after {
            top: -2%;
            right: -2%;
            line-height: 77px;
        }
    }

    &__box {
        text-align: center;
        padding: 72px 0 126px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 5;

        @include m($md) {
            padding: 70px 0 75px;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: -1;
        }
    }

    &__title {
        color: #fff;
    }

    &__text {
        max-width: 496px;
        margin: 0 auto 65px;
        color: #fff;

        @include m($md) {
            margin: 0 auto 30px;
        }
    }

}