.header {
    margin: 48px 0 21px;

    &__items {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 10px;
        flex: 0 0 auto;
        margin-right: 108px;
    }

    &__logo-img {}

    &__menu {
        margin-right: 10px;
        flex: 1 0 auto;
    }

    &__call-us {
        margin-right: 74px;
        color: $beige-100;
        align-items: center;
        display: flex;
        transition: color 0.3s, box-shadow 0.3s;
        border-radius: 20px;

        &:focus {
            box-shadow: $focusBs;
        }

        &::before {
            content: '';
            width: 23px;
            height: 21px;
            background-image: url(../images/sprite.svg#call-us);
            background-repeat: no-repeat;
            margin-right: 23px;
            transition: filter 0.1s;
        }

        &:hover {
            color: $pistachio;

            &::before {
                filter: invert(23%) sepia(34%) saturate(187%) hue-rotate(18deg) brightness(86%) contrast(89%);
            }
        }
    }

    &__button {
        background-color: $brown-700;

        &:focus {
            box-shadow: $focusBs;
        }

        &:hover {
            background-color: $beige-100;
        }
    }
}