.header {
    margin: 48px 0 21px;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 108px;
        border-radius: 10px;
    }

    &__menu {
        flex: 1 0 auto;
    }

    &__call-us {
        margin-right: 74px;
        color: $beige-100;
        display: flex;
        align-items: center;
        border-radius: 20px;

        svg {
            width: 18px;
            height: 18px;
            fill: #D5BB96;
            margin-right: 10px;
            transition: fill 0.3s;
        }

        &:hover {
            color: $pistachio;

            svg {
                fill: $pistachio;
            }
        }
    }

    &__button {
        background-color: $brown-700;
        padding: 16px 66px;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;

        &:hover {
            background-color: $beige-100;
        }
    }
}