.hero {
    margin-bottom: 85px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        height: 100vh;
        background-color: $main-color;
        bottom: 0;
        right: 0;
        width: 35%;
        z-index: -1;
    }

    &__inner {
        background-repeat: no-repeat;
        background-size: 50.5% 90%;
        background-position: top right;
    }

    &__content {
        position: relative;
        min-height: calc(100vh - 124px);
        display: flex;
        flex-direction: column;

        &::after {
            content: "\a.....\a.....\a.....\a.....";
            display: block;
            white-space: normal;
            color: $main-color;
            font-size: 33px;
            letter-spacing: 19px;
            line-height: 0.96;
            max-width: 100px;
            font-weight: 900;
            font-family: system-ui;
        }
    }

    &__title {
        margin-bottom: 48px;
        margin-top: auto;
        font-size: 72px;
        line-height: 1.1;
        max-width: 720px;
    }

    &__text {
        max-width: 685px;
        margin-bottom: 64px;
        @include line-clamp (5);
    }

    &__info {
        padding: 24px 21px;
        border: 3px solid #205b6c;
        display: flex;
        position: relative;
        margin-bottom: auto;
        width: 59%;
    }

    &__box {
        flex: 0 1 44%;
        margin-right: 15px;
    }

    &__name {
        color: $main-color;
        margin-bottom: 10px;
        display: block;
    }

    &__place {
        font-size: 24px;
        @include line-clamp(2);
    }

    &__arrow {
        position: absolute;
        width: 165px;
        right: -3px;
        top: -1px;
        bottom: -1px;
        background-color: $main-color;
        fill: #fff;
        background-image: url('../images/hero/arrow-hero.svg');
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;

        svg {
            width: 120px;
        }
    }
}