.hero {
    margin-bottom: 85px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        height: 100vh;
        background-color: $main-color;
        bottom: 0;
        right: 0;
        width: 35%;
        z-index: -1;
    }

    &__inner {
        background-repeat: no-repeat;
        background-size: 50.5% 90%;
        background-position: top right;
    }

    &__content {
        position: relative;
        min-height: calc(100vh - 124px);
        display: flex;
        flex-direction: column;
    }

    &__ornament {
        &::after {
            bottom: 0;
            left: 0;
            display: block;
        }
    }

    &__title {
        margin-bottom: 48px;
        margin-top: auto;
        font-size: 72px;
        line-height: 1.1;
        max-width: 720px;
    }

    &__text {
        max-width: 685px;
        margin-bottom: 64px;
        @include line-clamp (5);
    }

    &__info {
        padding: 24px 65px 21px 24px;
        border: 3px solid #205b6c;
        display: flex;
        position: relative;
        margin-bottom: auto;
        width: 59%;
    }

    &__box {
        flex: 0 1 45%;
        margin-right: 15px;
    }

    &__name {
        color: $main-color;
        margin-bottom: 10px;
        display: block;
    }

    &__place {
        font-size: 24px;
        @include line-clamp(2);
    }

    &__link {
        position: absolute;
        width: 16.3%;
        right: -3px;
        top: -1px;
        bottom: -1px;
        background-color: $main-color;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            filter: invert(100%) sepia(23%) saturate(0%) hue-rotate(37deg) brightness(105%) contrast(102%);
            width: 100px;
        }

    }
}