.our-photos {
    text-align: center;

    &__ornament {

        &::after,
        &::before {
            display: block;
        }

        &::after {
            right: 0;
            top: 0;
            color: $main-color;
        }

        &::before {
            left: 0;
            top: 12%;
            color: $brown-900;
        }
    }


    &__title {
        max-width: 167px;
        margin: 0 auto 41px;

        @include m($lg) {
            max-width: 100%;
            margin: 20px;
        }
    }

    &__text {
        margin: 0 auto;
        max-width: 496px;
        margin-bottom: 72px;

        @include m($lg) {
            margin-bottom: 50px;
        }

        @include m($sm) {
            margin-bottom: 25px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-gap: 19px;
        position: relative;
        z-index: 10;

        @include m($xl) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
        }

        @include m($sm) {
            grid-gap: 5px;
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__item {

        &:nth-child(1),
        &:nth-child(3) {
            grid-row-end: span 2;
        }
    }

    &__link {
        display: block;
        transition: opacity 0.3s, transform 0.3s;
        height: 100%;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            transform: scale(0.9);
        }
    }

    &__img {
        object-fit: cover;
        height: 100%;

        @include m($xl) {
            width: 100%;
        }
    }
}