.price-preview {
    position: relative;

    &__ornament {
        &::after {
            display: block;
            color: $brown-900;
            top: 0;
            right: 10%;
        }
    }

    &__inner {
        display: flex;
        flex-direction: row-reverse;
        max-width: 1735px;
        padding-right: 15px;

        @include m($lg) {
            flex-direction: column;
            padding: 0 15px;
        }

        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            background-color: $main-color;
            left: 88%;
            bottom: 85%;

            @include m($sm) {
                display: none;
            }
        }

    }

    &__offer {
        display: flex;
        min-height: 70vh;
        color: #fff;
        margin-right: 20px;
        flex: 1 0 auto;

        @include m($lg) {
            min-height: auto;
            flex-direction: column;
            margin-right: 0;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 5;
        transition: border-radius 0.3s, width 0.3s, flex 0.3s, z-index 0.5s, opacity 0.3s, transform 0.3s;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.2);
            z-index: -1;
        }

        &:not(:last-child) {
            margin-right: 20px;

            @include m($lg) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        &--room {
            flex: 1 1 5%;
        }

        &--desk {
            flex: 1 1 9%;
        }

        &--shared {
            padding: 96px 0 0 64px;
            border-radius: 0px 40% 0px 0px;
            pointer-events: none;
            flex: 1 1 45%;

            .price-preview__item.active {
                padding: 0;
            }

            &::after {
                border-radius: 0px 40% 0px 0px;

                @include m($lg) {
                    border-radius: 0;
                }
            }

            @include m($xxl) {
                padding: 35px 0 0 30px;
                flex: 1 1 27%;
            }

            @include m($lg) {
                border-radius: 0;
            }
        }

        &--shared.remove {
            border-radius: 0;
            flex: 1 1 9%;
            padding: 0;

            .price-preview__caption {
                transform: rotate(-90deg);
                margin: auto auto 0;

                @include m($lg) {
                    transform: rotate(0);
                }
            }
        }

        &--room,
        &--desk,
        &--shared.remove {
            padding-bottom: 83px;

            @include m($xxl) {
                flex: 1 1 0;
            }

            @include m($lg) {
                padding: 35px 0 0 30px;
                min-height: 200px;
            }

            @include m($sm) {
                min-height: 150px;
            }

            .price-preview__price {
                opacity: 0;
                transition: opacity 0.3s;
                position: absolute;
                bottom: 0;
                right: 10px;
            }

            .price-preview__advantage {
                position: absolute;
                opacity: 0;
            }

        }


        &.active {
            flex: 1 0 40%;
            position: relative;
            z-index: 10;
            border-radius: 0px 45% 0px 0px;
            padding: 96px 0 0 64px;
            transform: scale(1.1);
            transition: border-radius 0.3s, width 0.3s, transform 0.3s, flex 0.3s;

            &::after {
                border-radius: 0px 45% 0px 0px;

                @include m($lg) {
                    border-radius: 0;
                }
            }

            @include m($xxl) {
                padding: 35px 0 0 30px;
                flex: 1 1 27%;
            }

            @include m($lg) {
                padding: 35px 0 0 30px;
                flex: auto;
                border-radius: 0;
                text-align: center;
                min-height: 240px;
            }

            .price-preview__price {
                opacity: 1;
            }

            .price-preview__caption {
                transform: rotate(0);
                margin: 0;
                transition: transform 0.3s;
            }

            .price-preview__advantage {
                position: static;
                opacity: 1;
                transition: opacity 0.3s;
                margin-top: 20px;
            }

        }

        @media(any-hover: hover) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }


    &__caption {
        max-width: 175px;
        font-weight: 600;
        font-size: 48px;
        line-height: 1.2;
        font-family: $poppins;
        margin-bottom: 12px;
        transition: transform 0.3s;

        &--transform {
            transform: rotate(-90deg);
            margin: auto auto 0;

            @include m($lg) {
                transform: rotate(0);
                margin: 0;
            }
        }

        @include m($xxl) {
            font-size: 35px;
        }

        @include m($lg) {
            font-size: 35px;
            max-width: 100%;
        }

        @include m($sm) {
            font-size: 25px;
        }
    }

    &__advantage {
        margin-bottom: auto;
    }

    &__price {
        align-self: flex-end;
        padding: 27px 42px 26px;
        background-color: $main-color;
        font-weight: 500;
        font-size: 24px;
        font-family: $poppins;

        @include m($xxl) {
            font-size: 19px;
            padding: 20px 22px 20px;
        }

        @include m($sm) {
            font-size: 15px;
            padding: 11px 10px 10px;
        }
    }

    &__box {
        max-width: 426px;
        display: flex;
        flex-direction: column;

        @include m($lg) {
            margin-bottom: 20px;
            max-width: 100%;
        }
    }

    &__subtitle {
        margin-top: auto;
    }

    &__text {
        margin-bottom: auto;

        @include m($lg) {
            margin-bottom: 20px;
        }
    }

    &__arrow {
        border-radius: 15px;
        align-self: flex-start;

        @include m($xl) {
            font-size: 20px;
        }

        &::after {
            margin-left: 24px;

            @include m($xxl) {
                margin-left: 15px;
                width: 90px;
            }
        }
    }
}