.testimonials {

    &__inner {
        display: flex;

        @include m($xl) {
            display: block;
        }
    }

    &__box {
        flex: 1 0 25%;
        margin-right: 4%;

        @include m($xl) {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    &__text {
        @include line-clamp (4);
    }

    &__swiper {
        padding-bottom: 50px;

        @include m($lg) {
            padding-bottom: 75px;
        }
    }

    &__list {
        display: flex;
    }

    &__item {
        padding: 56px 44px;
        border: 3px solid $main-color;
        height: auto;
        width: auto;

        @include m($xl) {
            padding: 30px 26px;
        }

        @include m($sm) {
            padding: 15px 10px;
        }
    }

    &__author {
        display: flex;
        margin-bottom: 24px;
        align-items: center;

        @include m($sm) {
            margin-bottom: 10px;
        }
    }

    &__img {
        border-radius: 50%;
        margin-right: 24px;
        object-fit: cover;

        @include m($sm) {
            width: 60px;
            height: 60px;
        }
    }

    &__name {
        color: $brown-900;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.4;
        font-family: $poppins;
        display: block;

        @include m($sm) {
            font-size: 21px;
        }
    }

    &__status {
        color: $main-color;

        @include m($sm) {
            font-size: 16px;
        }

    }

    &__review {
        max-width: 459px;
        @include line-clamp(6);

        @include m($sm) {
            font-size: 16px;
            max-width: 250px;
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-top: 20px;
        cursor: pointer;
        background-color: transparent;
        border: 3px solid $main-color;
        bottom: 0;
        transition: background-color 0.3s, opacity 0.3s, outline 0.3s;

        &:not(:last-child) {
            margin-right: 20px;
        }

        @include m($lg) {
            width: 25px;
            height: 25px;
        }

        &:focus {
            outline: 2px solid #f3b611b3;
            outline-offset: 5px;
        }

        &:hover {
            background-color: $main-color;
            opacity: 0.9;
        }
    }

    .swiper-pagination-bullet-active {
        width: 20px;
        height: 20px;
        background-color: $main-color;

        @include m($lg) {
            width: 30px;
            height: 30px;
        }
    }

}