       <footer class="footer">
           <div class="container">
               <h2 class="sr-only">
                   our address, social networks and subscription
               </h2>
               <div class="footer__inner">
                   <div class="footer__contact">
                       <a class="footer__logo int" href="#">
                           <img class="footer__logo-img" src="images/footer/logo.svg" alt="footer logo" width="323"
                               height="82">
                       </a>
                       <address class="footer__address address-date">
                           <div class="address-date__text">
                               <p>
                                   2755 Commercial St SE Salem, Corner with
                                   Sunny Boulevard, 3755 Commercial OR 97302
                               </p>
                           </div>
                           <ul class="address-date__list">
                               <li class="address-date__item">
                                   <a class="address-date__link int" href="tel:+1234567890">
                                       <svg>
                                           <use xlink:href="images/sprite.svg#call-us"></use>
                                       </svg>
                                       +123 456 7890
                                   </a>
                               </li>
                               <li class="address-date__item">
                                   <a class="address-date__link int" href="mailto:hello@coolabs.com">
                                       <svg>
                                           <use xlink:href="images/sprite.svg#letter"></use>
                                       </svg>
                                       hello@coolabs.com
                                   </a>
                               </li>
                           </ul>
                       </address>
                   </div>
                   <ul class="footer__info info-nav">
                       <li class="info-nav__items">
                           <h3 class="info-nav__title">
                               Information
                           </h3>
                           <ul class="info-nav__list">
                               <li class="info-nav__item">
                                   <a class="info-nav__link int" href="#">
                                       FAQ
                                   </a>
                               </li>
                               <li class="info-nav__item">
                                   <a class="info-nav__link int" href="#">
                                       Terms & Conditions
                                   </a>
                               </li>
                               <li class="info-nav__item">
                                   <a class="info-nav__link int" href="#">
                                       Pricing
                                   </a>
                               </li>
                               <li class="info-nav__item">
                                   <a class="info-nav__link int" href="#">
                                       User Account
                                   </a>
                               </li>
                               <li class="info-nav__item">
                                   <a class="info-nav__link int" href="#">
                                       Legal Regulations
                                   </a>
                               </li>
                           </ul>
                       </li>
                       <li class="info-nav__items">
                           <h3 class="info-nav__title">
                               Social Media
                           </h3>
                           <ul class="info-nav__list">
                               <li class="info-nav__item">
                                   <a class="info-nav__link int" href="#">
                                       Facebook
                                   </a>
                               </li>
                               <li class="info-nav__item">
                                   <a class="info-nav__link int" href="#">
                                       Instagram
                                   </a>
                               </li>
                               <li class="info-nav__item">
                                   <a class="info-nav__link int" href="#">
                                       LinkedIn
                                   </a>
                               </li>
                               <li class="info-nav__item">
                                   <a class="info-nav__link int" href="#">
                                       Twitter
                                   </a>
                               </li>
                           </ul>
                       </li>
                   </ul>
                   <div class="footer__subscribe">
                       <h3 class="footer__subscribe-title title">
                           Newsletter
                       </h3>
                       <p class="footer__text">
                           Subscribe to our newsletter to get the update news related to our latest properties and
                           time-limited discounts.
                       </p>
                       <form class="subscribe-form" action="#">
                           <label class="sr-only" for="footer-subscribe">
                               enter your email for subscribe
                           </label>
                           <input class="subscribe-form__input int" id="footer-subscribe" name="email-footer"
                               type="email" placeholder="Enter your e-mail address" required>
                           <button class="subscribe-form__button button int" type="submit">
                               Subscribe
                           </button>
                       </form>
                   </div>
               </div>
           </div>
       </footer>