<section class="next-post section section--int">
    <div class="container">
        <div class="next-post__wrapper">
            <a class="next-post__link int" href="@@next-post-link">
                <img class="next-post__img" src="images/post/@@name-img.jpg" alt="post" width="407" height="313">
            </a>
            <div class="next-post__box">
                <span class="next-post__subtitle section__subtitle">
                    read next
                </span>
                <a class="next-post__wrap-title int" href="@@next-post-link">
                    <h2 class="next-post__title section__title">
                        @@next-post-title
                    </h2>
                </a>
                <a class="next-post__arrow arrow int" href="@@next-post-link">
                    <span class="sr-only">
                        go to the next article
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>