.events-upcoming {
    flex: 1;
    margin-top: 5%;

    @include m($xl) {
        flex: none;
        margin: 0;
    }

    &__list {
        display: flex;

        @include m($xl) {
            justify-content: space-around;
        }

        @include m($md) {
            flex-direction: column;
        }
    }

    &__item {
        padding: 50px 15px;
        flex: 1 1 385px;
        text-align: center;
        border: 3px solid $main-color;
        font-family: $poppins;
        background-color: #fff;

        &:not(:last-child) {
            margin-right: 20px;

            @include m($md) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        @include m($xxl) {
            padding: 30px 10px;
        }

        @include m($xl) {
            flex: 0 1 300px;
        }

        @include m($md) {
            flex: 0 1 250px;
        }

        @include hl {
            flex: 0 1 250px;
        }

        @include m($sm) {
            flex: 0 1 auto;
        }
    }

    &__date {
        margin-bottom: 33px;
        color: $brown-900;
        display: block;

        @include m($xxl) {
            margin-bottom: 20px;
        }
    }

    &__month {
        display: block;
        font-size: 24px;
        line-height: 1.4;
        color: $main-color;
        letter-spacing: 0.35em;
        margin-bottom: 43px;
        text-transform: uppercase;

        @include m($xxl) {
            font-size: 20px;
            margin-bottom: 20px;
        }

        @include m($xl) {
            font-size: 18px;
        }
    }


    &__number {
        font-weight: 600;
        font-size: 144px;
        line-height: 1;

        @include m($xxl) {
            font-size: 90px;
        }

        @include m($xl) {
            font-size: 60px;
        }
    }

    &__name {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.4;
        margin-bottom: 12px;
        @include line-clamp (2);

        @include m($xxl) {
            font-size: 22px;
        }

        @include m($xl) {
            font-size: 18px;
        }
    }

    &__organization {
        max-width: 186px;
        margin: 0 auto;
        @include line-clamp (3);

        @include m($md) {
            max-width: 100%;
        }
    }
}