.next-post {
    margin-bottom: 160px;

    @include m($xxl) {
        margin-bottom: 100px;
    }

    @include m($xl) {
        margin-bottom: 70px;
    }


    &__wrapper {
        max-width: 1015px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include m($lg) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__link {
        margin-right: 10px;
        transition: transform 0.5s;

        &:hover {
            transform: scale(0.9);
        }

        @include m($lg) {
            width: 100%;
        }
    }

    &__img {
        object-fit: cover;
        object-position: center;

        @include m($lg) {
            width: 100%;
            margin-bottom: 20px;
        }

        @include m($md) {
            height: 250px;
        }

        @include m($sm) {
            height: 150px;
        }

    }


    &__box {
        display: flex;
        flex-direction: column;
        flex: 0 1 49%;
    }

    &__subtitle {
        margin-bottom: 12px;

        @include m($sm) {
            font-size: 18px;
        }
    }

    &__wrap-title {
        margin-bottom: 64px;
        border-radius: 10px;
        transition: color 0.3s;

        &:hover {
            .next-post__title {
                color: $main-color;
            }
        }

        @include m($lg) {
            margin-bottom: 30px;
        }

        @include m($sm) {
            margin-bottom: 24px;
        }
    }

    &__title {
        font-size: 36px;
        margin-bottom: 0;
        transition: color 0.3s;

        @include m($sm) {
            font-size: 26px;
        }
    }


    &__arrow {
        align-self: flex-end;
        border-radius: 10px;

        &::after {
            @include m($sm) {
                width: 80px;
            }
        }

        @include m($lg) {
            align-self: flex-start;
        }

    }
}